* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdbdbd75;
}

.container {
    width: 40%;
    height: 80vh;
    display: flex;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 30px 30px 30px rgba(190, 104, 104, 0.815);
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1 {
    font-size: 60px;
    font-weight: 700;
}

.input {
    display: flex;
    flex-direction: column;
} 

.input p {
    font-size: 30px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 19px;
    font-style: italic;
    padding-left: 0.5rem;
    color: gray;
}

.input-box input:hover {
    background-color: #bdbdbd75;
}

.input-box input:focus-visible {
    outline: 2px solid #d91e1e;
}

.input-box input::placeholder {
    color: gray;
}

.exit-button {
    width: 30%;
    margin-right: 10px;
}

.add-button {
    width: 45%;
}

.exit-button button {
    background-color: #d91e1e;
    border-radius: 5px;
    width: 100%;
}

.add-button button {
    background-color: #0c0ce94d;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.aux-button {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-top: 1rem;
}

.exit-button button {
    text-decoration: none;
    font-size: 25px;
}

.add-button button {
    text-decoration: none;
    font-size: 25px;
}

/* Inicio do Forms-Delete */

.delete-button {
    margin-top: 2.5rem;
}

.form-header-delete h1 {
    font-size: 60px;
    font-weight: 700;
}

.input-delete p{
    font-size: 26px;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}

/* Fim do Forms-Delete */

/* Inicio do Forms-View */

.form-header-view h1 {
    font-size: 60px;
    font-weight: 700;
}

.input-view p {
    font-size: 26px;
    margin-top: 4.5rem;
}

.view-button {
    margin-top: 2.5rem;
}


@media screen and (max-height: 920px) {
    .form {
        box-shadow: none;
    }

    .container {
        width: 90%;
        height: 96%;
    }

    .input p {
        font-size: 26px;
    }

    .exit-button button {
        text-decoration: none;
        font-size: 24px;
    }
    
    .add-button button {
        text-decoration: none;
        font-size: 24px;
    }

    .form-header h1 {
        font-size: 40px;
    }
}

@media screen and (max-height: 700px) {
    .form {
        box-shadow: none;
    }

    .container {
        width: 90%;
        height: 96%;
    }

    .input p {
        font-size: 20px;
    }

    .exit-button button {
        text-decoration: none;
        font-size: 20px;
    }
    
    .add-button button {
        text-decoration: none;
        font-size: 20px;
    }

    .form-header h1 {
        font-size: 35px;
    }
}