body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

.logo img {
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%;
}

.aux-button {
    display: flex;
    justify-content: flex-end;
    height: 7vh;
    width: 50%;
    margin-right: 2.5%;
}

.aux-button button {
    width: 50%;
    height: 7vh;
    background-color: #0d6efd;
    color: white;
    font-size: 28px;
    border-radius: 10px;
}

.search-bar-top {
    display: none;
    width: 50%;
    margin-left: 2.5%;
}

.search-bar-top input {
    flex: 1;
    border: 0;
    margin-right: 20px;
    height: 7vh;
    border-radius: 5px;
    padding: 20px;
    outline: 0;
    font-size: 30px;
}

.search-bar-top button {
    width: 10%;
    border: 0;
    border-radius: 50px;
    height: 50px;
    background: #f7994c;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-bar-top button span {
    width: 100%;
}

.table {
    background-color: white;
    width: 100%;
}

.table th {
    font-size: 30px;
    padding: 20px;
}

.table td {
    font-size: 25px;
    padding: 20px;
}

.aux-tr {
    background-color: #ff0000;
}

.aux-tr1 {
    background-color: #d17021dc;
}

.aux-tr th {
    font-size: 38px;
}

.aux-tr1 td {
    font-size: 30px;
}

.aux-button-table-1 {
    background-color: #73a4ee;
    width: 12%;
    display: inline;
    margin-left: 26%
}

.aux-button-table {
    background-color: #73a4ee;
    width: 12%;
    display: inline;
}

.aux-button-table-delete {
    background-color: #c23b12;
    width: 10%;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    flex: 1;
    border: 0;
    margin-right: 20px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    outline: 0;
    font-size: 30px;
}

.search-bar button {
    width: 10%;
    border: 0;
    border-radius: 50px;
    height: 50px;
    background: #f7994c;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-bar button span {
    width: 100%;
}



/* ----------------------------------Modal-Add---------------------------------- */



.modal-fade {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-main {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 95%;
    min-width: 260px;
    border-radius: 10px;
    padding: 40px;
}

.modal-aux-button {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-top: 1%;
}

.modal-header {
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.modal-header h1 {
    font-size: 60px;
    font-weight: 700;
}

.input {
    display: flex;
    flex-direction: column;
}

.input p {
    font-size: 30px;
    margin-bottom: 0px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
}

.input-box input {
    margin: 1% 0;
    padding: 3% 1%;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 15px;
    font-style: italic;
    padding-left: 3%;
    color: gray;
    width: 100%;
}

.input-box input:hover {
    background-color: #c5c4c475;
}

.input-box input:focus-visible {
    outline: 2px solid #d91e1e;
}

.input-box input::placeholder {
    color: gray;
}

.add-button {
    width: 45%;
}

.add-button button {
    background-color: #0c0ce94d;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
}

.exit-button {
    width: 30%;
    margin-right: 10px;
}

.exit-button button {
    background-color: #d91e1e;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
}



/*----------------------------------Fim do Modal-Add----------------------------------*/



/*----------------------------------Modal-View----------------------------------*/



.modal-fade-view {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-main-view {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 95%;
    min-width: 260px;
    padding: 40px;
    border-radius: 10px;
}

.modal-header-view {
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.modal-header-view h1 {
    font-size: 60px;
    font-weight: 700;
}

.input-view {
    display: flex;
    flex-direction: column;
}

.input-view p {
    font-size: 30px;
    margin-bottom: 0px;
}



/*----------------------------------Fim Do Modal-View----------------------------------*/



/*----------------------------------Modal Edit----------------------------------*/



.modal-fade-edit {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-main-edit {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 95%;
    min-width: 260px;
    padding: 40px;
    border-radius: 10px;
}

.modal-header-edit {
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.modal-header-edit h1 {
    font-size: 60px;
    font-weight: 700;
}

.input-edit {
    display: flex;
    flex-direction: column;
}

.input-edit p {
    font-size: 30px;
    margin-bottom: 0px;
}


/*----------------------------------Fim Do Modal-Edit----------------------------------*/



/*----------------------------------Modal-delete----------------------------------*/



.modal-fade-delete {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-main-delete {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 55%;
    min-width: 260px;
    padding: 40px;
    border-radius: 10px;
}

.input-delete p {
    font-size: 34px;
    margin-top: 3%;
}

.modal-aux-button-delete {
    margin-top: 6%;
    display: flex;
    justify-content: flex-end;
}

.exit-button-delete button {
    background-color: #d91e1e;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 35px;
}

.add-button-delete button {
    background-color: #0c0ce94d;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 35px;
    margin-left: 10%;
}

.modal-header-delete h1 {
    font-size: 65px;
    font-weight: 700;
}



/*----------------------------------Fim Do Modal-Delete----------------------------------*/



/*----------------------------------Javascript e animações----------------------------------*/



.modal-fade.mostrar {
    display: flex;
}

.mostrar .modal-main {
    animation: modal .5s;
}



.modal-fade-view.mostrar {
    display: flex;
}

.mostrar .modal-main-view {
    animation: modal .5s;
}



.modal-fade-edit.mostrar {
    display: flex;
}

.mostrar .modal-main-edit {
    animation: modal .5s;
}



.modal-fade-delete.mostrar {
    display: flex;
}

.mostrar .modal-main-delete {
    animation: modal .5s;
}



@keyframes modal {
    from {
        opacity: 0;
        transform: translate(0, -60px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}


/*----------------------------------Fim do Javascript e animações----------------------------------*/



/*----------------------------------Responsividade----------------------------------*/



@media screen and (max-width: 1000px) {

    .logo img {
        height: 15vh;
    }

    .table {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 2.5%;
    }

    .table tbody,
    .table tr,
    .table td {
        display: flex;
        flex-direction: column;
    }

    .table thead tr {
        display: none;
    }

    .table td {
        position: relative;
        padding-left: 25%;
    }

    .table th {
        background-color: red;
        padding-left: 10px;
    }

    .table td:before {
        content: attr(data-title);
        position: absolute;
        left: 1px;
        margin-left: 8px;
    }

    .buttons button {
        width: 25%;
        margin-left: 0%;
    }

    .aux-button {
        width: 40%;
    }

    .aux-button button {
        width: 70%;
        font-size: 20px;
    }

    header {
        margin-top: 10%;
    }

    .search-bar-top {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .search-bar-top input {
        width: 100%;
        font-size: 25px;
    }

    .search-bar-top button {
        width: 20%;
    }

}

@media screen and (max-width: 550px) {
    .search-bar-top button {
        width: 30%;
    }

    .aux-button button {
        font-size: 14px;
    }

    .search-bar-top input {
        width: 100%;
        font-size: 20px;
    }

}

@media screen and (max-width: 350px) {
    .table td {
        font-size: 22px;
    }

    .aux-button button {
        font-size: 12px;
    }

}


/*--------------Modais-----------------*/

@media screen and (max-height: 920px) {
    

/*---------Adicionar-----------*/

    .input p {
        font-size: 22px;
    }

    .modal-header {
        margin-bottom: 5%;
    }

    .modal-main {
        width: 40%;
        height: 85%;
    }
    


    .modal-main-edit {
        width: 40%;
        height: 85%;
    }

    .modal-main-delete {
        width: 40%;
        height: 85%;
    }



    .modal-header h1 {
        font-size: 50px;
        font-weight: 700;
    }

    .input-box label {
        height: 46px;
        width: 65%;
        margin-top: 1.5%;
        margin-bottom: 5%;
        font-size: 15px;
    }

    .add-button button {
        font-size: 21px;
    }

    .exit-button button {
        font-size: 21px;
    }


/*---------View-----------*/


    .modal-main-view {
        width: 40%;
        height: 85%;
    }

    .modal-header-view {
        margin-bottom: 5%;
    }

    .modal-header-view h1 {
        font-size: 50px;
        font-weight: 700;
    }
    
    .input-view p {
        font-size: 24px;
    }

    .input-view label {
        height: 46px;
        width: 65%;
        margin-top: 1.5%;
        margin-bottom: 5%;
        font-size: 15px;
    }

/*---------Editar-----------*/

    .modal-main-edit {
        width: 40%;
        height: 85%;
    }

    .modal-header-edit {
        margin-bottom: 5%;
    }

    .modal-header-edit h1 {
        font-size: 50px;
        font-weight: 700;
    }
    
    .input-edit p {
        font-size: 24px;
    }

    .input-edit label {
        height: 46px;
        width: 65%;
        margin-top: 1.5%;
        margin-bottom: 5%;
        font-size: 15px;
    }

/*---------Deletar-----------*/

    .modal-main-delete {
        width: 40%;
        height: 60%;
    }

    .modal-header-delete {
        margin-bottom: auto;
    }

    .modal-header-delete h1 {
        font-size: 50px;
        margin-bottom: 5%;
    }

    .input-delete p {
        font-size: 27px;
    }

    .exit-button-delete button{
        font-size: 26px;
    }

    .add-button-delete button {
        font-size: 26px;
    }

}

@media screen and (max-height: 700px) {
    
/*---------Adicionar-----------*/
    
    .input p {
        font-size: 16px;
    }

    .modal-header h1 {
        font-size: 30px;
    }

    .input-box label {
        font-size: 12px;
    }
    
/*---------View-----------*/
    
    .modal-header-view h1 {
        font-size: 30px;
    }

    .input-view p {
        font-size: 16px;
    }

    .input-view label {
        font-size: 12px;
    }

/*---------Editar-----------*/

    .modal-header-edit h1 {
        font-size: 30px;
    }

    .input-edit p {
        font-size: 16px;
    }

    .input-edit label {
        font-size: 12px;
    }

/*---------Deletar-----------*/

    .modal-main-delete {
        height: 60%;
        width: 75%;
        padding: 30px;
    }

    .modal-header-delete h1 {
        font-size: 44px;
    }

    .input-delete p {
        font-size: 24px;
    }

    .exit-button-delete button{
        font-size: 22px;
    }

    .add-button-delete button {
        font-size: 22px;
    }

}

/*----------------------------------Fim da Responsividade----------------------------------*/