<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_form.css">
    <title>Adicionar Usuário</title>
</head>
<body>

    <h1>Adicionar usuário</h1>
    <p>Nome Completo</p>
    <input class="nome" type="text">
    <p>Email</p>
    <input class="email" type="email" placeholder="example@example.com">
    <p>Senha</p>
    <input class="senha" type="password" placeholder="*********">

    <div class="btns">  
        <button class="btn_close">
            Fechar
        </button>  
        <button class="btn_add">
            Adicionar
        </button>
    </div>

</body>
</html>