<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../../../public/css/admin_posts_forms.css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
        <title>Admin - ADD-POSTS</title>
    </head>

    <body>
        
        <main class="principal">
            <div class="container-add">
                <h1>Adicionar Publicação</h1>
                <p class="titulo-add">Título da publicação</p>
                <input class="titulo-input-add" type="text" placeholder="Novo Título">
                <p class="conteudo-add">Conteúdo da publicação</p>
                <input class="texto-input-add" type="text" placeholder="Lorem">
                <p class="data-add">Data</p>
                <input class="data-input-add" type="date" placeholder="dd/mm/yy">
            
                <div class="btns aux-button-add">
                    <button class="btn_close">
                        Cancelar
                    </button>
                    <button class="btn_add">
                        Adicionar Post
                    </button>
                </div>
            </div>
        </main>
   
    </body>

</html>