<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_form.css">
    <title>Deletar Usuário</title>
</head>
<body>
    
    <h1>Deletar Usuário</h1>

    <div class="btns">
        <button class="btn_close">
            Close
        </button>  
        <button class="btn_delete">
            Deletar
        </button>

    </div>

</body>
</html>