<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/clarimDiario/public/css/forms.css">
    <title>Deletar Usuário</title>
</head>

<body>
    <div class="aux_center">
        <h1>Deletar Usuário</h1>
        <p>Tem certeza que quer deletar esse usuário?</p>

        <div class="btns">
            <button class="btn_close">
                Close
            </button>
            <button class="btn_delete">
                Deletar
            </button>

        </div>
    </div>
</body>

</html>