<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_form.css">
    <title>Modificar Usuário</title>
</head>
<body>
    
    <h1>Modificar Usuário</h1>
    <p>Alterar Nome</p>
    <input class="nome" type="text" placeholder="Digite o novo nome">
    <p>Alterar Email</p>
    <input class="email" type="email" placeholder="Digite o novo email">
    <p>Alterar Senha</p>
    <input class="senha" type="password" placeholder="Digite a nova senha">

    <div class="btns">  
        <button class="btn_close">
            Fechar
        </button>  
        <button class="btn_save">
            Salvar Alterações
        </button>

    </div>

</body>
</html>