<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/clarimDiario/public/css/forms.css">
    <title>Visualizar Usuário</title>
</head>

<body>
    <div class="aux_center">
        <h1>Visualizar Usuário</h1>
        <p>Nome Completo</p>
        <input class="nome" type="text" placeholder="Nome do Usuário" disabled>
        <p>Email</p>
        <input class="email" type="email" placeholder="Email do Usuário" disabled>
        <p>Senha</p>
        <input class="senha" type="password" placeholder="Senha do Usuário" disabled>

        <div class="btns">
            <button class="btn_close">
                Close
            </button>
        </div>
    </div>
</body>

</html>