<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../../../public/css/admin_posts_forms.css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
        <title>Admin - Visualizar Publicação</title>
    </head>

    <body>
        <div class="container">
            
            <div class="form">
                <form action="#">
            <div class="form-header">
                    <h1>Visualizar Publicação</h1>
                </div>
                    
                <div class="input">
                    
                    <p class="title-add">Título da publicação</p>
                    
                    <div class="input-box">
                        <input id="title" type="text" placeholder="Título da publicação" disabled>
                    </div>    
                    
                    <p class="content-add">Conteúdo da publicação</p>
                    
                    <div class="input-box">
                        <input id="content" type="text" placeholder="Lorem" disabled>
                    </div>
                    
                    <p class="autor-add">Autor</p>

                    <div class="input-box">
                        <input id="autor" type="text" placeholder="Autor" disabled>
                    </div>
                    
                    <p class="date-add">Data</p>
                    
                    <div class="input-box">
                        <input id="date" type="date" disabled>
                    </div>

                    <div class="input-box">
                        <input id="file" type="file" disabled>
                    </div>

                </div>

                <div class="aux-button">
                
                <div class="exit-button">
                    <button>Sair</button>
                </div>

            </form>
        </div>
    </div>
</body>

</html>